@import "../../setup/utilities/variables.scss";

.error-message-container{
  transition: $slow;
  position: fixed;
  top: -12rem;
  width: 100%;
  z-index: 100;
  font-family: $source-sans-font;
  font-size: $txt-medium;
  color: $black;
}

.emc__show{
  top: 2rem;
}

.emc__div{
  padding: 1rem;
  background-color: $yellow-hover;
  border-radius: 7px;
  border: 3px solid;
}

.emc__img{
  width: 6rem;
  padding-left: 1rem;
}

.emc__img-div{
  width: 25%;
}

.emc__message-div{
  width: 75%;
}
